.table {
  margin-bottom: 3.5rem;

  .user-page-link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    a {
      text-decoration: none;
    }
  }

  .edit-user-icon {
    color: dodgerblue;
    &:hover {
      color: rgb(9, 102, 196);
    }
  }

  .delete-user-icon {
    color: crimson;
    cursor: pointer;
    &:hover {
      color: rgb(163, 7, 39);
    }
  }
}
