<footer>
  <p class="text-center bg-danger m-0 text-light">
    <a href="https://github.com/NikolaJohnny94" target="_blank"
      ><fa-icon class="social-media-icon github" [icon]="githubIcon"></fa-icon
    ></a>
    <a href="https://codepen.io/NikolaJohnny/pens/public"
      ><fa-icon
        class="social-media-icon codepen"
        [icon]="codepenIcon"
      ></fa-icon></a
    >Developed By Nikola
    <a
      href="https://www.linkedin.com/in/nikola-ivanovi%C4%87-2b6a13179/"
      target="_blank"
      ><fa-icon
        class="social-media-icon linkedin"
        [icon]="linkedinIcon"
      ></fa-icon></a
    ><a href="https://twitter.com/nikola8794pwd"
      ><fa-icon class="social-media-icon twitter" [icon]="twitterIcon"></fa-icon
    ></a>
  </p>
</footer>
